.info-movie-container {
	min-height: 800px;
}
a {
	text-decoration: none;
	color: #fff;
}
a:visited {
	color: #000;
}
.info-movie-background-image {
	box-shadow: inset 0 0 0 1000px #c2939581;
	background-position: center;
	background-size: cover;
	width: 100%;
}

.movie-image-details {
	width: auto;
	height: 600px;
	border-radius: 10px;
}

.movie-details-content {
	display: flex;
	gap: 20px;
	padding: 50px 100px;
	min-height: 600px;
}

.info-movie-details-text {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
	text-align: left;
	height: 100%;
}
.info-movie-vote-average {
	padding-top: 1rem;
}
.movie-details-text h2 {
	display: inline;
}

.movie-details-text p {
	margin: 0;
}

.info-movie-details-facts {
	display: block;
	padding-top: 25px;
}

.info-movie-tag {
	font-size: 1.1em;
	margin: 15px 0px;
}

.container-extra-info {
	display: grid;
	grid-template-columns: 2fr 1fr 0fr;
	grid-template-rows: repeat(2, 1fr) 0fr;
	gap: 0px 0px;
	grid-auto-flow: row;
}
.carousel-section {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	grid-row: 1/2;
	background-color: rgba(100, 100, 100, 0.514);
	border: 1px #333;
}

.carousel-grid-container {
	display: flex;
	grid-area: 1 / 1 / 2 / 2;
	overflow-x: auto;
	white-space: nowrap;
	scroll-snap-type: x mandatory;
}
.slider-cast-item {
	flex: 0 0 auto;
	margin: 10px;
}

.trailer {
	grid-area: 2 / 1 / 3 / 2;
}

.trailer-grid-container {
	background-color: rgba(100, 100, 100, 0.514);
	margin-bottom: auto;
}
#h3-no-margin {
	margin-top: 0;
	padding: 5px;
	border-color: #333;
}
.yt-container {
	padding-bottom: 20px;
}

.trivia {
	grid-area: 1 / 2 / 3 / 3;
	background-color: rgba(100, 100, 100, 0.514);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

@media only screen and (max-width: 1200px) {
	.movie-details-content {
		padding: 50px 50px;
	}
}
@media only screen and (max-width: 800px) {
	.movie-details-content {
		flex-direction: column;
		text-align: center;
	}
}

@media only screen and (max-width: 550px) {
	.movie-info-container {
		padding: 20px 10px 20px 30px;
		grid-template-columns: 1fr;
		width: 100%;
	}
	.trivia {
		display: none;
	}
	.container-extra-info {
		display: block;
	}
}
