.parent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
.div1 {
	grid-area: 1 / 1 / 2 / 2;
}
.div2 {
	grid-area: 1 / 2 / 2 / 3;
}
.div3 {
	grid-area: 1 / 3 / 2 / 4;
}
.div4 {
	grid-area: 1 / 4 / 2 / 5;
}
.div5 {
	grid-area: 1 / 5 / 2 / 6;
}
.div6 {
	grid-area: 2 / 1 / 3 / 2;
}
.div7 {
	grid-area: 2 / 2 / 3 / 3;
}
.div8 {
	grid-area: 2 / 3 / 3 / 4;
}
.div9 {
	grid-area: 2 / 4 / 3 / 5;
}
.div10 {
	grid-area: 2 / 5 / 3 / 6;
}
.div11 {
	grid-area: 3 / 1 / 4 / 2;
}
.div12 {
	grid-area: 3 / 2 / 4 / 3;
}
.div13 {
	grid-area: 3 / 3 / 4 / 4;
}
.div14 {
	grid-area: 3 / 4 / 4 / 5;
}
.div15 {
	grid-area: 3 / 5 / 4 / 6;
}
.div16 {
	grid-area: 4 / 1 / 5 / 2;
}
.div17 {
	grid-area: 4 / 2 / 5 / 3;
}
.div18 {
	grid-area: 4 / 3 / 5 / 4;
}
.div19 {
	grid-area: 4 / 4 / 5 / 5;
}
.div20 {
	grid-area: 4 / 5 / 5 / 6;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(221px, 1fr));
	gap: 20px;
}

.card {
	border: 1px solid #f55077;
	border-radius: 0.5rem;
	background-color: rgba(231, 181, 181, 0.8);
	margin: 2.5rem 2rem; /* Margen superior e inferior de 2.5vh y margen izquierdo y derecho de 10px */
}

.card-img-top {
	width: auto;
	height: 100%;
	max-width: 23vw;
	max-height: 24vh;
	border-radius: 0.5rem;
}

.card-body {
	margin: 0;
	padding: 5px;
}

.card-title {
	font-size: 1.25rem;
	font-weight: bold;
	margin: 1vh 0vh;
}

.card-subtitle {
	font-size: 0.75rem;
	color: #6c757d;
	margin: 1vh 0vh;
}

.btn {
	display: inline-block;
	margin-bottom: 5%;
	font-weight: 400;
	color: #007bff;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-success {
	color: #000000;
	border-color: #000000;
}

.btn-outline-success:hover {
	color: #fff;
	background-color: #595959;
	border-color: #383838;
}

@media screen and (max-width: 813px) {
	.parent {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(10, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
	.card-img-top {
		max-width: 100%; /* Establece un ancho máximo para las imágenes en pantallas más grandes */
	}
}
@media screen and (min-width: 850px) {
	.parent {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
	.card-img-top {
		max-width: 100%;
		max-height: 200px;
	}
}
