.menu-horizontal {
	display: flex;
	list-style-type: none;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.8020565552699228) 0%,
		rgba(0, 0, 0, 0.5) 30%,
		rgba(0, 0, 0, 0.5) 70%,
		rgba(0, 0, 0, 0.7994858611825193) 100%
	);
	padding: 0;
	height: 50px;
	justify-content: center;
	margin-top: 0;
	margin-bottom: 10px;
}

.menu-horizontal li {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center; /* Hace que los elementos se expandan para ocupar todo el espacio disponible */
}

.menu-horizontal li a {
	display: flex; /* Para que los enlaces ocupen todo el espacio disponible */
	justify-content: center; /* Centra el texto horizontalmente */
	align-items: center; /* Centra el texto verticalmente */
	text-decoration: none;
	color: #000;
	width: 100%;
	height: 100%;
}
.menu-horizontal li a {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
	color: inherit;
	font-size: inherit;
	height: inherit;
	line-height: inherit;
	transition: background-color 0.3s; /* Agregamos transición para suavizar el cambio */
}

.menu-horizontal li a:hover,
.menu-horizontal li a:focus {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.5989717223650386) 0%,
		rgba(0, 0, 0, 0.29820051413881743) 30%,
		rgba(0, 0, 0, 0.30077120822622105) 70%,
		rgba(0, 0, 0, 0.6015424164524421) 100%
	);
	width: 100%;
	height: 100%;
}
