.menu-horizontal {
	color: white;
	display: flex;
	list-style-type: none;

	padding: 0;
	height: 50px;
	justify-content: center;
	margin-top: 0;
	margin-bottom: 10px;
}

.menu-horizontal li {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center; /* Hace que los elementos se expandan para ocupar todo el espacio disponible */
}

.menu-horizontal li a {
	display: flex; /* Para que los enlaces ocupen todo el espacio disponible */
	justify-content: center; /* Centra el texto horizontalmente */
	align-items: center; /* Centra el texto verticalmente */
	text-decoration: none;
	color: #000;
	width: 100%;
	height: 100%;
}
.menu-horizontal li a {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
	color: inherit;
	font-size: inherit;
	height: inherit;
	line-height: inherit;
	transition: background-color 0.3s; /* Agregamos transición para suavizar el cambio */
}

.menu-horizontal li a:hover,
.menu-horizontal li a:focus {
	background: rgb(208, 8, 8);
	background: linear-gradient(
		180deg,
		rgba(208, 8, 8, 1) 0%,
		rgba(0, 0, 0, 0) 25%,
		rgba(0, 0, 0, 0) 75%,
		rgba(208, 8, 8, 1) 100%
	);
	width: 100%;
	height: 100%;
}
