.pagination-container {
	display: flex;
	justify-content: center;
}

.pagination-container > nav {
	margin-top: 20px;
}

.pagination-container > nav > ul {
	display: flex;
	list-style: none;
	padding-left: 0;
}

.page-item {
	display: block;
	padding: 5px 10px;
	border: 1px solid #787878;
	border-radius: 0.25rem;
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	margin: 1px;
}

.page-link:hover {
	background-color: #f8f9fa;
}

.active {
	background-color: #757575;
	color: #fff;
	border-color: #2f2f2f;
}
